.List {
    border: 3px solid gray;
    padding: 5px;
    border-radius: 20px;
    width: 500px;
}
.ListEntry {
    margin: 5px 0px;
    border: 2px solid red;
    background-color: #f3fff3;
    border-radius: 20px;
}
.ListEntry-Index {
    font-weight: bold;
    font-size: 2em;
    padding: 5px 20px;
    display: inline-block;
}
.ListEntry-Stuff {
    display: inline-block;
}
.ListEntry-Name {
    font-weight: bold;
}